// background colors
$bg-default: #FFFFFF;
$bg-primary: #222222;
$bg-info: #62488A;

// text colors
$color-default: #000;
$color-primary: #FFF;
$color-info: #62488A;

// font-sizes
$font-size-default: 12px;
$font-size-primary: 20px;
$font-size-info: 14px;
